In [45]:
import pandas as pd
import matplotlib.pyplot as plt

In [46]:
df_speedDating = pd.read_csv(r"C:\Users\DELL 7480\Documents\PROTOJAM\speed_data_data.csv", sep =',')
df_speedDating.head()

,gender,age,income,goal,career,dec,attr,sinc,intel,fun,amb,shar,like,prob,met
0,0,21.0,69487.0,2.0,lawyer,1,6.0,9.0,7.0,7.0,6.0,5.0,7.0,6.0,2.0
1,0,21.0,69487.0,2.0,lawyer,1,7.0,8.0,7.0,8.0,5.0,6.0,7.0,5.0,1.0
2,0,21.0,69487.0,2.0,lawyer,1,5.0,8.0,9.0,8.0,5.0,7.0,7.0,NaN,1.0
3,0,21.0,69487.0,2.0,lawyer,1,7.0,6.0,8.0,7.0,6.0,8.0,7.0,6.0,2.0
4,0,21.0,69487.0,2.0,lawyer,1,5.0,6.0,7.0,7.0,6.0,6.0,6.0,6.0,2.0

In [47]:
df_speedDating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8378 entries, 0 to 8377
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   gender  8378 non-null   int64
 1   age     8283 non-null   float64
 2   income  4279 non-null   float64
 3   goal    8299 non-null   float64
 4   career  8289 non-null   object
 5   dec     8378 non-null   int64
 6   attr    8176 non-null   float64
 7   sinc    8101 non-null   float64
 8   intel   8082 non-null   float64
 9   fun     8028 non-null   float64
 10  amb     7666 non-null   float64
 11  shar    7311 non-null   float64
 12  like    8138 non-null   float64
 13  prob    8069 non-null   float64
 14  met     8003 non-null   float64
dtypes: float64(12), int64(2), object(1)
memory usage: 981.9+ KB

In [48]:
df_speedDating.shape

(8378, 15)

In [49]:
df_speedDating.describe().T

,count,mean,std,min,25%,50%,75%,max
gender,8378.0,0.500597,0.500029,0.0,0.0,1.0,1.0,1.0
age,8283.0,26.358928,3.566763,18.0,24.0,26.0,28.0,55.0
income,4279.0,44887.606450,17206.920962,8607.0,31516.0,43185.0,54303.0,109031.0
goal,8299.0,2.122063,1.407181,1.0,1.0,2.0,2.0,6.0
dec,8378.0,0.419909,0.493573,0.0,0.0,0.0,1.0,1.0
attr,8176.0,6.189995,1.950169,0.0,5.0,6.0,8.0,10.0
sinc,8101.0,7.175164,1.740315,0.0,6.0,7.0,8.0,10.0
intel,8082.0,7.368597,1.550453,0.0,6.0,7.0,8.0,10.0
fun,8028.0,6.400598,1.953702,0.0,5.0,7.0,8.0,10.0
amb,7666.0,6.777524,1.794055,0.0,6.0,7.0,8.0,10.0
shar,7311.0,5.474559,2.156363,0.0,4.0,6.0,7.0,10.0
like,8138.0,6.134087,1.841285,0.0,5.0,6.0,7.0,10.0
prob,8069.0,5.207523,2.129565,0.0,4.0,5.0,7.0,10.0
met,8003.0,0.948769,0.989889,0.0,0.0,0.0,2.0,8.0

In [50]:
#Nombre de différentes professions 
df_speedDating['career'].value_counts()

career
Finance                     202
professor                   199
Lawyer                      154
Professor                   148
Consulting                  147
                           ...
teaching                      5
MBA                           5
engineering professional      5
Asset Management              5
a research position           5
Name: count, Length: 367, dtype: int64

In [51]:
#Nombre de données absentes par colonne
df_speedDating.isna().sum()

gender       0
age         95
income    4099
goal        79
career      89
dec          0
attr       202
sinc       277
intel      296
fun        350
amb        712
shar      1067
like       240
prob       309
met        375
dtype: int64

In [52]:
df_speed = df_speedDating.dropna(axis=0)

In [53]:
df_speed.shape

(3501, 15)

In [54]:
df_speedDating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8378 entries, 0 to 8377
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   gender  8378 non-null   int64
 1   age     8283 non-null   float64
 2   income  4279 non-null   float64
 3   goal    8299 non-null   float64
 4   career  8289 non-null   object
 5   dec     8378 non-null   int64
 6   attr    8176 non-null   float64
 7   sinc    8101 non-null   float64
 8   intel   8082 non-null   float64
 9   fun     8028 non-null   float64
 10  amb     7666 non-null   float64
 11  shar    7311 non-null   float64
 12  like    8138 non-null   float64
 13  prob    8069 non-null   float64
 14  met     8003 non-null   float64
dtypes: float64(12), int64(2), object(1)
memory usage: 981.9+ KB

In [55]:
df_speedDating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8378 entries, 0 to 8377
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   gender  8378 non-null   int64
 1   age     8283 non-null   float64
 2   income  4279 non-null   float64
 3   goal    8299 non-null   float64
 4   career  8289 non-null   object
 5   dec     8378 non-null   int64
 6   attr    8176 non-null   float64
 7   sinc    8101 non-null   float64
 8   intel   8082 non-null   float64
 9   fun     8028 non-null   float64
 10  amb     7666 non-null   float64
 11  shar    7311 non-null   float64
 12  like    8138 non-null   float64
 13  prob    8069 non-null   float64
 14  met     8003 non-null   float64
dtypes: float64(12), int64(2), object(1)
memory usage: 981.9+ KB

In [56]:
df_speedDating.dropna(axis=0, inplace=True)
df_speedDating.shape

(3501, 15)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier